@model Hotel
<h1>About Us</h1>
<p>
    At MahLaa, we take great satisfaction in offering the best possible hospitality. Luxurious and comfortable, our hotel 
    is tucked away in the center of Lebanon. Our committed staff works tirelessly to make sure that every guest feels 
    not just comfortable throughout their stay, but genuinely cared for, all while upholding the highest standards of 
    service. Our goal is to provide an environment where visitors can unwind, revitalize, and create enduring memories.
    This starts with our thoughtfully designed rooms and continues with our top-notch amenities and individualized 
    services. MahLaa is more than just a place to stay, whether you're here on business or for pleasure; it's a location 
    where comfort and refinement meet. Greetings from the pinnacle of hospitality.
</p>

